name: Benchmark
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# cancel previous runs of same PR / branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  deployments: write
  pull-requests: write

jobs:
  benchmark:
    name: Run tracing benchmark
    runs-on: ubuntu-24.04
    env:
      CC: clang
      CXX: clang++
    steps:
      - uses: actions/checkout@v4
      - name: get cmake
        uses: lukka/get-cmake@latest
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          key: ${{ github.job }}-ubuntu-24.04-clang-benchmark
      - name: cmake
        shell: bash
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release -D CMAKE_C_COMPILER_LAUNCHER=ccache -D CMAKE_CXX_COMPILER_LAUNCHER=ccache -DENABLE_BENCHMARKS=ON -DENABLE_LOGGING=OFF ${{ matrix.flags }}  -G Ninja -S .
      - name: build
        shell: bash
        run: |
          cmake --build . --target all
      - name: test
        shell: bash
        run: |
          ./nautilus/test/benchmark/nautilus-benchmarks | tee benchmark_result.txt
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1.20.7
        with:
          name: Tracing Benchmark
          tool: 'catch2'
          output-file-path: benchmark_result.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          comment-always: true
          save-data-file: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: false
          summary-always: false
          fail-on-alert: false
          gh-pages-branch: 'pages'
          max-items-in-chart: 20
