name: PR
run-name: Nautilus PR for ${{ github.actor }}
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
# cancel previous runs of same PR / branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  format:
    runs-on: ubuntu-24.04
    name: Check format
    steps:
      - uses: actions/checkout@v4
      - name: run format.sh
        run: |
          ./format.sh
  build-test:
    runs-on: ${{matrix.os}}
    name: ${{ matrix.os }} ${{ matrix.cc }} ${{ matrix.flags }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: 'ubuntu-22.04'
            cc: 'gcc-10'
            cxx: 'g++-10'
            flags: ''
          - os: 'ubuntu-22.04'
            cc: 'gcc-10'
            cxx: 'g++-10'
            flags: '-DENABLE_TRACING=OFF'
          - os: 'ubuntu-22.04'
            cc: 'gcc-10'
            cxx: 'g++-10'
            flags: '-DENABLE_TRACING=OFF -DENABLE_LOGGING=OFF'
          - os: 'ubuntu-22.04'
            cc: 'clang-15'
            cxx: 'clang++-15'
            flags: ''
          - os: 'ubuntu-24.04'
            cc: 'clang-18'
            cxx: 'clang++-18'
            flags: ''
          - os: 'ubuntu-24.04'
            cc: 'gcc-12'
            cxx: 'g++-12'
            flags: ''
          - os: 'ubuntu-24.04'
            cc: 'gcc-14'
            cxx: 'g++-14'
            flags: ''  
          - os: 'macos-15'
            cc: 'clang'
            cxx: 'clang++'
            flags: ''
          - os: 'ubuntu-24.04'
            cc: 'gcc-12'
            cxx: 'g++-12'
            flags: '-DENABLE_ADDRESS_SANITIZER=ON'
          - os: 'ubuntu-24.04'
            cc: 'clang-18'
            cxx: 'clang++-18'
            flags: '-DENABLE_ADDRESS_SANITIZER=ON'
    env:
      CC: ${{ matrix.cc }}
      CXX: ${{ matrix.cxx }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: get cmake
        uses: lukka/get-cmake@latest
      - name: get ccache
        uses: hendrikmuhs/ccache-action@v1.2.13
        with:
          key: ${{ github.job }}-${{ matrix.os }}-${{ matrix.cc }}
      - name: cmake
        shell: bash
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache ${{ matrix.flags }}  -G Ninja -S . -B build
      - name: build
        shell: bash
        run: |
          cmake --build build --target all
      - name: test
        shell: bash
        run: |
          ctest --test-dir build/nautilus --output-on-failure
