name: PR
run-name: Nautilus PR for ${{ github.actor }}
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
# cancel previous runs of same PR / branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  format:
    runs-on: ubuntu-24.04
    name: Check format
    steps:
      - uses: actions/checkout@v4
      - name: run format.sh
        run: |
          ./format.sh
  build-test:
    runs-on: ${{matrix.os}}
    name: ${{ matrix.os }} ${{ matrix.cc }} ${{ matrix.flags }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: 'ubuntu-22.04'
            cc: 'gcc-10'
            cxx: 'g++-10'
            flags: ''
          - os: 'ubuntu-22.04'
            cc: 'gcc-10'
            cxx: 'g++-10'
            flags: '-DENABLE_TRACING=OFF'
          - os: 'ubuntu-22.04'
            cc: 'gcc-10'
            cxx: 'g++-10'
            flags: '-DENABLE_TRACING=OFF -DENABLE_LOGGING=OFF'
          - os: 'ubuntu-22.04'
            cc: 'clang-15'
            cxx: 'clang++-15'
            flags: ''
          - os: 'ubuntu-24.04'
            cc: 'clang-18'
            cxx: 'clang++-18'
            flags: ''
          - os: 'ubuntu-24.04'
            cc: 'gcc-12'
            cxx: 'g++-12'
            flags: ''
          - os: 'ubuntu-24.04'
            cc: 'gcc-14'
            cxx: 'g++-14'
            flags: ''
          - os: 'macos-15'
            cc: 'clang'
            cxx: 'clang++'
            flags: ''
          - os: 'ubuntu-24.04'
            cc: 'gcc-12'
            cxx: 'g++-12'
            flags: '-DENABLE_ADDRESS_SANITIZER=ON'
          - os: 'ubuntu-24.04'
            cc: 'clang-18'
            cxx: 'clang++-18'
            flags: '-DENABLE_ADDRESS_SANITIZER=ON'
          - os: 'ubuntu-24.04'
            cc: 'clang-19'
            cxx: 'clang++-19'
            flags: ''
          - os: 'ubuntu-24.04-arm'
            cc: 'clang-19'
            cxx: 'clang++-19'
            flags: ''
    env:
      CC: ${{ matrix.cc }}
      CXX: ${{ matrix.cxx }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: get cmake
        uses: lukka/get-cmake@latest
      - name: Cache MLIR binaries
        uses: actions/cache@v4
        with:
          path: build/mlir-*
          key: mlir-21.1.2-${{ runner.os }}-${{ runner.arch }}
      - name: Cache CMake build
        uses: actions/cache@v4
        with:
          path: |
            build/CMakeCache.txt
            build/CMakeFiles
          key: cmake-${{ matrix.os }}-${{ matrix.cc }}-${{ hashFiles('**/CMakeLists.txt', 'cmake/**') }}
          restore-keys: |
            cmake-${{ matrix.os }}-${{ matrix.cc }}-
            cmake-${{ matrix.os }}-
      - name: get ccache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          key: ${{ github.job }}-${{ matrix.os }}-${{ matrix.cc }}-${{ hashFiles('**/CMakeLists.txt') }}
      - name: Install clang 19
        if: startsWith(matrix.cc, 'clang-19') && startsWith(matrix.os, 'ubuntu')
        run: |
          UBUNTU_CODENAME=$(lsb_release -cs)
          sudo apt-get update
          sudo apt-get install -y wget gnupg lsb-release software-properties-common
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          echo "deb http://apt.llvm.org/${UBUNTU_CODENAME}/ llvm-toolchain-${UBUNTU_CODENAME}-20 main" | sudo tee /etc/apt/sources.list.d/llvm-20.list
          sudo apt-get update
          sudo apt-get install -y clang-19 clang++-19
      - name: cmake
        shell: bash
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache ${{ matrix.flags }}  -G Ninja -S . -B build
      - name: build
        shell: bash
        run: |
          cmake --build build --target all
      - name: test
        shell: bash
        run: |
          ctest --test-dir build/nautilus --output-on-failure
  llvm-ir-test:
    runs-on: ubuntu-24.04
    name: LLVM IR Test (clang-21)
    env:
      CC: clang-21
      CXX: clang++-21
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: get cmake
        uses: lukka/get-cmake@latest
      - name: get ccache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          key: ${{ github.job }}-llvm-ir-test
      - name: Install clang 21 and llvm-diff-21
        run: |
          UBUNTU_CODENAME=$(lsb_release -cs)
          sudo apt-get update
          sudo apt-get install -y wget gnupg lsb-release software-properties-common
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          echo "deb http://apt.llvm.org/${UBUNTU_CODENAME}/ llvm-toolchain-${UBUNTU_CODENAME}-21 main" | sudo tee /etc/apt/sources.list.d/llvm-21.list
          sudo apt-get update
          sudo apt-get install -y clang-21 clang++-21 llvm-21
          # Create symlinks for llvm-diff
          sudo ln -sf /usr/bin/llvm-diff-21 /usr/local/bin/llvm-diff-19
      - name: cmake
        shell: bash
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DENABLE_LLVM_IR_TEST=ON -G Ninja -S . -B build
      - name: build
        shell: bash
        run: |
          cmake --build build --target nautilus-llvm-ir-test
      - name: test
        shell: bash
        run: |
          ctest --test-dir build/nautilus/test/llvm-ir-test --output-on-failure
